{% extends 'layout.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="{{ asset("assets/css/reponseSondage.css") }}">

{% endblock %}

{% block body %}
	<div id="popup_map" class="popup_block">
		{% for error in app.session.flashbag.get('error') %}
			<p class="error">{{ error }}</p>
		{% endfor %}
		<div class="map_container">
			<img id="image_map" src="{{ asset("assets/img/uploaded/" ~ carte.image) }}" alt="Carte"usemap="#map">
			<map name="map" id="map">
				{% for zone in localisations %}
					<area shape="poly" coords="{% for point in zone.points %}{{ point.posX }},{{ point.posY }}{% if not loop.last %},{% endif %}{% endfor %}" title="{{ zone.label }}" data-id="{{ zone.id }}"/>
				{% endfor %}
			</map>
		</div>
	</div>
	{% if sondage.image is not empty %}
		<img src="{{ sondage.image }}">
	{% endif %}
	<p>Crée par : {{ sondage.auteur.userName }}</p>
	<p>Crée le : {{ sondage.creationDate|date("d/m/Y") }}</p>
	<form action="{{ path('answer', { 'id': id }) }}" method="post">
		<p class="answer_titile">Choisir votre réponse</p>
		{% for reponse in reponses %}
			<input type="radio" name="answer_id" value="{{ reponse.id }}" {% if loop.first %}checked{% endif %} >{{ reponse.label }}
		{% endfor %}
		<p class="region_title">La zone choisie est :</p>
		<p class="region"></p>
		<a href="#" class="newpopup">Changer de region</a>
		<input class="zone_id" type="hidden" name="zone_id">
		<input type="submit">
	</form>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset("assets/js/libs/imageMapResizer.min.js") }}"></script>
	<script src="http://davidlynch.org/projects/maphilight/jquery.maphilight.js"></script>
	<script src="{{ asset("assets/js/reponseSondage.js") }}"></script>

{% endblock %}