{% extends 'layout.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="{{ asset("assets/css/statsSondage.css") }}">


{% endblock %}

{% block meta_share %}

	{% set image = asset("assets/img/uploaded/" ~ sondage.image) %}
	{% if image is not defined or image == null %}
		{% set image = asset("assets/img/logo_violet.png") %}
	{% endif %}

    <meta property="og:url" content="{{ app.request.uri }}" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Répondre au sondage sur Versus" />
    <meta property="og:description" content="{{ sondage.titre }}" />
    <meta property="og:image" content="{{ app.request.getSchemeAndHttpHost() ~ image }}" />
    <meta property="twitter:card" content="summary" />


{% endblock %}

{% block body %}
    {% include 'default/header.html.twig' with { title : 'Statistiques' }%}

{% block content %}
	 {% include 'default/_share.html.twig' with { title: "Répondre au sondage sur Versus", text: sondage.titre } %}


 		<div class="row">
		<article class="col s3 m3" >
      		 <div class="card-panel  left" >
                <div class="row"  >
                	{% if sondage.image is not empty %}
						<img id="imgSondage" class="responsive-img" src="{{ asset("assets/img/uploaded/" ~ sondage.image) }}">
					{% endif %}                
                </div>
            </div>
      	</article>



										<!--CARTE DROITE-->

      	<article class="col  m9" style="">
	
          	<div class="card white">
	            <div class="card-content black-text " class="col s6" >
	              <a class="waves-effect waves-light btn right" href="{{ path('answer', {id: sondage.id}) }}">Répondre</a>
	              <span class="card-title " >{{ sondage.titre }}</span>
	              <p>Crée par : {{ sondage.auteur.userName }}</p>
	              <p>Crée le : {{ sondage.creationDate|date("d/m/Y") }}</p>
				  <p>Pays : {{ sondage.carte.nom }}</p>
				  <p class="regionLabel">Region choisie : <span>{{ first_localisation_name }}</span></p>
				  <p class="col s6" class="right-align">Nom de la carte : {{ sondage.carte.nom }}</p>

	            </div>
            <div class="card-action" class="col m9">
            	{% for reponse in sondage.propositions %}
				<input type="checkbox" class="filled-in" checked="checked" name="answer_id" value="{{ reponse.id }}" {% if loop.first %}checked{% endif %} >
				<label for="filled-in-box">{{ reponse.label }}</label>
				{% endfor %}

					

            </article>
          </div>
		       
		  
		  <div class="card" style="margin-left:10px;margin-right:10px;" >
		 
		    <div class="card-tabs">
		      <ul class="tabs tabs-fixed-width">
		        <li class="tab col s6"><a class="active" href="#swipe-region">Par region</a></li>
		        <li class="tab col s6"><a href="#swipe-jours">Par jours</a></li>
		      </ul>

		    </div>
		    <div class="card-content grey lighten-4">

		   <!-- 	<div class="row"  id="swipe-region" >

					<div class="map_container"  class="col s6" style="border:solid;position:absolue;min-height:50%;min-width:50%;">
						<img id="image_map" class="responsive-img"   src="{{ asset("assets/img/uploaded/" ~ carte.image) }}" alt="Carte" usemap="#map">
						<map name="map" id="map">
							{% for zone in localisations %}
								<area shape="poly" coords="{% for point in zone.points %}{{ point.posX }},{{ point.posY }}{% if not loop.last %},{% endif %}{% endfor %}" title="{{ zone.label }}" data-id="{{ zone.id }}" data-url="{{ path('ajaxSondage', {'id': sondage.id }) }}" {% if loop.first %}class="selected"{% endif %}/>
							{% endfor %}
						</map>
					
					</div>


					<div class="col s6"  style="border:solid blue;position:absolue;min-height:50%;min-width:50%;">
						<canvas  id="chartRegion"></canvas>
					</div>

					
					
				</div>   -->

				 <div class="row" id="swipe-region" >
						<div class="col s6 "  >

								<img id="image_map" class="responsive-img"    src="{{ asset("assets/img/uploaded/" ~ carte.image) }}" alt="Carte" usemap="#map">
						<map name="map" id="map">
							{% for zone in localisations %}
								<area shape="poly" coords="{% for point in zone.points %}{{ point.posX }},{{ point.posY }}{% if not loop.last %},{% endif %}{% endfor %}" title="{{ zone.label }}" data-id="{{ zone.id }}" data-url="{{ path('ajaxSondage', {'id': sondage.id }) }}" {% if loop.first %}class="selected"{% endif %}/>
							{% endfor %}
						</map>
						
						</div>

     					 <div class="col s6" id="diagramme">
     					 	<canvas  id="chartRegion"></canvas>
     					 </div>
				</div> 

 

				<div class="col s6"  id="swipe-jours" >
					<canvas id="chartJours" ></canvas>
				</div>


		    </div>
		  </div>



        



{% endblock %}


{% block javascripts %}
	{{ parent() }}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js" /></script>
	<script src="{{ asset("assets/js/libs/imageMapResizer.min.js") }}"></script>
	<script src="http://davidlynch.org/projects/maphilight/jquery.maphilight.js"></script>
	<script src="{{ asset("assets/js/statsSondage.js") }}"></script>
	<script src="{{ asset("assets/js/share.js") }}"></script>
	<script type="text/javascript"> 
		$(document).ready(function(){
			$('ul.tabs').tabs();
			
			var ctx = document.getElementById("chartRegion");
			data1 = {
			    labels: [
			        {% for proposition in sondage.propositions %}
			        	'{{ proposition.label }}',
					{% endfor %}
			    ],
			    datasets: [{
			    	label: "Par region",
			        data: [
				        {% for proposition in carte_chart %}
				        	'{{ proposition.reponses|length }}',
						{% endfor %}
			        ],
				    backgroundColor: [
				    	{% for proposition in carte_chart %}
				        	'{{ proposition.proposition.couleur }}',
						{% endfor %}
				    ],
			    }],
			};
			myDoughnutChart = new Chart(ctx, {
			    type: 'doughnut',
			    data: data1,
			    options: {}
			});

			var ctx2 = document.getElementById("chartJours");
			data2 = {
			    labels: [

					{% for date,reponse in lines_chart|first.dates %}
			        	'{{ date|date("d/m/Y") }}',
					{% endfor %}
			    ],
			    datasets: [
			    	{% for line in lines_chart %}
			    	{
						label: "{{ line.proposition.label }}",
						borderColor: "{{ line.proposition.couleur }}",
						pointRadius: 5,
						pointHoverRadius : 10,
						fill: false,
						data: [{% for date,reponse in line.dates %}'{{ reponse|length }}',{% endfor %}]
					}, 
					{% endfor %}
				]
			};
			var myLineChart = new Chart(ctx2, {
			    type: 'line',
			    data: data2,
			    options: {
			        scales: {
			            yAxes: [{
			            	display: true,
				            ticks: {
				                stepSize: 1
				            }
			            }]
			        },
			    }
			});
		});

	</script>

{% endblock %}
{% endblock %}
