{% if title is not defined %}
  {% set title ="" %}
{% endif %} 

  <nav class="nav-extended" id="color-purple">
    <div class="row nav-wrapper">

      <a href="{{ path('homepage') }}" class="left col s4 m4 l4 valign-wrapper" style="height:94px;">
        <img alt="Logo" src="{{ asset("assets/img/logo_blanc.png") }}"/>
      </a>

      <div class="nav-content center col s4 m4 l4">
        <span class="nav-title ">{{ title }}</span>
      </div>

      {% if app.user is not empty %}

        {% if app.user.roles[0] == "ROLE_ADMIN" %}
          <div  style="padding-right:0;" id="utilisateur-mobile" class="right-align col s1 m1 l1 offset-s3 offset-m3 offset-l3" >
            <a href="{{ path('homeBackend') }}">
                <img style="margin-right:10px;" alt="icone utilisateur" id="nav-mobile" src="{{ asset("assets/img/ic_supervisor_account_black_24dp_2x.png")}}"/> 
                <div class="user" style="line-height:initial;margin-top: -30px;">Bienvenue<center style="margin:0;">{{ app.user.username }}</center></div>
            </a>

          </div>
        {% else %}
          <div style="padding-right:0;" id="utilisateur-mobile" class="right-align col s1 m1 l1 offset-s3 offset-m3 offset-l3" >
            <a href="{{ path('showSondages') }}">
                <img style="margin-right:10px;" alt="icone utilisateur" id="nav-mobile" src="{{ asset("assets/img/ic_supervisor_account_black_24dp_2x.png")}}"/> 
                <div class="user" style="line-height:initial;margin-top: -30px;">Bienvenue<center style="margin:0;">{{ app.user.username }}</center></div>
            </a>

          </div>
        {% endif %}

      {% else %}

        <a id="utilisateur-mobile" class="right-align col s4 m4 l4" href="{{ path('login') }}">
          <img alt="icone utilisateur" id="nav-mobile" class="right-align" src="{{ asset("assets/img/ic_supervisor_account_black_24dp_2x.png")}}"/> 
        </a>

      {% endif %}

      {% if app.user is not empty %}
        <a style="position: absolute;right: 0;top:75px;text-decoration: none;color: #8f7cbc;" href="{{ path('fos_user_security_logout') }}">Déconnecter</a>
      {% endif %}

    </div>

  </nav>

  <style>

    #utilisateur-mobile img {
      -webkit-filter: grayscale(1) invert(1);
      filter: grayscale(1) invert(1);
    }

    #color-purple{
      background-color: #8f7cbc;
    }
  </style>
