{% if title is not defined %}
  {% set title ="" %}
{% endif %} 

  <nav class="nav-extended" id="color-purple">
    <div class="row nav-wrapper">

      <a href="#!" class="left col s4 m4 l4 valign-wrapper" style="height:94px;">
        <img alt="Logo" src="{{ asset("assets/img/logo_blanc.png") }}"/>
      </a>

      <div class="nav-content center col s4 m4 l4">
        <span class="nav-title ">{{ title }}</span>
      </div>

      {% if app.user is not empty %}

        {% if app.user.roles[0] == "ROLE_ADMIN" %}
          <div id="utilisateur-mobile" class="right-align col s4 m4 l4" >
            <a href="{{ path('homeBackend') }}">
                <img alt="icone utilisateur" id="nav-mobile" src="{{ asset("assets/img/ic_supervisor_account_black_24dp_2x.png")}}"/> 
                <div class="user" style="line-height:initial;margin-top: -30px;">{{ app.user.username }}</div>
            </a>

          </div>
        {% else %}
          <div id="utilisateur-mobile" class="right-align col s4 m4 l4" >
            <a href="{{ path('showSondages') }}">
                <img alt="icone utilisateur" id="nav-mobile" src="{{ asset("assets/img/ic_supervisor_account_black_24dp_2x.png")}}"/> 
                <div class="user" style="line-height:initial;margin-top: -30px;">{{ app.user.username }}</div>
            </a>

          </div>
        {% endif %}

      {% else %}

        <a id="utilisateur-mobile" class="right-align col s4 m4 l4" href="{{ path('login') }}">
          <img alt="icone utilisateur" id="nav-mobile" class="right-align" src="{{ asset("assets/img/ic_supervisor_account_black_24dp_2x.png")}}"/> 
        </a>

      {% endif %}

    </div>

  </nav>

  <style>

    #utilisateur-mobile img {
      -webkit-filter: grayscale(1) invert(1);
      filter: grayscale(1) invert(1);
    }

    #color-purple{
      background-color: #8f7cbc;
    }
  </style>
