{% extends 'layout.html.twig' %}

{% block body %}
<p>{{ sondage.titre }}</p>
{% if sondage.image is not empty %}
	<img src="{{ sondage.image }}">
{% endif %}
<p>Crée par : {{ sondage.auteur.userName }}</p>
<p>Crée le : {{ sondage.creationDate|date("d/m/Y") }}</p>
<p>Pays : {{ sondage.carte.nom }}</p>
{% for reponse in sondage.propositions %}
	<input type="radio" name="answer_id" value="{{ reponse.id }}" {% if loop.first %}checked{% endif %} >{{ reponse.label }}
{% endfor %}
<ul id="tabs-swipe-demo" class="tabs">
	<li class="tab col s3"><a href="#test-swipe-1">Test 1</a></li>
	<li class="tab col s3"><a class="active" href="#test-swipe-2">Test 2</a></li>
	<li class="tab col s3"><a href="#test-swipe-3">Test 3</a></li>
</ul>
<div id="test-swipe-1" class="col s12 blue">Test 1</div>
<div id="test-swipe-2" class="col s12 red">Test 2</div>
<div id="test-swipe-3" class="col s12 green">Test 3</div>
<script type="text/javascript"> 
	$(document).ready(function(){
		$('ul.tabs').tabs();
	});
</script>
{% endblock %}
