{% extends 'layout.html.twig' %}

{% block title %}Versus - Backend{% endblock %}

{% block body %}
    {% include 'backend/_nav.html.twig' %}
    <section>
        <h1 class="thin">Sondeurs</h1>

        <table class="centered">
            <thead>
                <tr>
                    <th>Pseudo</th>
                    <th>Email</th>
                    <th>Dernière connexion</th>
                    <th>Droit</th>
                    <th>Gerer les droits</th>
                    <th>Supprimer</th>
                </tr>
            </thead>

            <tbody>
            {% for sondeur in sondeurs %}
                <tr>
                    <td>{{ sondeur.username }}</td>
                    <td>{{ sondeur.email }}</td>
                    <td>{{ sondeur.lastLogin|date("d/m/Y") }}</td>
                    {% if sondeur.hasRole('ROLE_ADMIN') %}
                        <td>Administrateur</td>
                    {% else %}
                        <td>Sondeur</td>
                    {% endif %}
                    <td>{{ sondeur.lastLogin|date("d/m/Y") }}</td>
                    <!-- Modal Trigger -->
                    {% if app.user == sondeur %}
                        <td><button class="btn disabled" data-target="modal1">Modifier les droits</button></td>
                        <td><a class="btn-floating btn-large disabled"><i class="material-icons">clear</i></a>
                        </td>
                    {% else %}
                        <td><button class="btn waves-effect waves-light deep-purple lighten-2" onclick="setIdUser({{ sondeur.id }})" data-target="modal1">Modifier les droits</button></td>
                        <td>
                            <a class="btn-floating btn-large waves-effect waves-light red" href="{{ path('supprimerUser', {id: sondeur.id}) }}">
                                <i class="material-icons">clear</i>
                            </a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <!-- Modal Structure -->
        <aside id="modal1" class="modal">
            <form method="post">
                <div class="modal-content">
                    <h4 class="thin center">Modifier les droits</h4>

                    <label for="droit">Définir en tant que :</label>
                    <input name="idUser" id="idUser" type="hidden">
                    <select name="droit" id="droit">
                        <option value="sondeur">Sondeur</option>
                        <option value="admin">Administrateur</option>
                    </select>
                </div>

                <div class="modal-footer">
                    <button class="modal-action modal-close waves-effect waves-green btn-flat" type="submit">Valider</button>
                </div>
            </form>
        </aside>

        <aside id="popupDroits" style="display: none">
            <h2>Définir les droits pour <span id="pseudo"></span></h2>
        </aside>

        <ul class="pagination center-align">
            {% if app.request.attributes.get('page') == 1 %}
                <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
            {% else %}
                <li class="waves-effect"><a href="{{ path('sondagesBackend', {page: app.request.attributes.get('page') - 1 }) }}"><i class="material-icons">chevron_left</i></a></li>
            {% endif %}

            {% for page in 1..pages  %}
                {% if app.request.attributes.get('page') == page %}
                    <li class="active"><a href="{{ path('sondagesBackend', {page: page}) }}">{{ page }}</a></li>
                {% else %}
                    <li class="waves-effect"><a href="{{ path('sondagesBackend', {page: page}) }}">{{ page }}</a></li>
                {% endif %}
            {% endfor %}

            {% if app.request.attributes.get('page') == pages %}
                <li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
            {% else %}
                <li class="waves-effect"><a href="{{ path('sondagesBackend', {page: app.request.attributes.get('page') + 1 }) }}"><i class="material-icons">chevron_right</i></a></li>
            {% endif %}
        </ul>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        function setIdUser(id) {
            document.getElementById("idUser").value = id;
        }

        $(document).ready(function(){
            // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
            $('.modal').modal();
            $('select').material_select();
        });
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        section {
            margin-left: 330px;
            margin-right: 30px;
        }
    </style>
{% endblock %}