{% extends 'layout.html.twig' %}

{% block title %}Versus - Backend{% endblock %}

{% block body %}
    {% include 'backend/_nav.html.twig' %}
    <section>
        <h1 class="thin">Sondages</h1>

        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Image</th>
                <th>Proposition liés</th>
                <th>Crée le</th>
                <th>Supprimer</th>
            </tr>
            </thead>

            <tbody>
            {% for sondage in sondages %}
                <tr>
                    <td>{{ sondage.id }}</td>
                    <td>{{ sondage.titre }}</td>
                    <td><a href="{{ asset('assets/img/uploaded/' ~ sondage.image) }}">Image</a></td>
                    <td><a href="{{ path('propositionsFromSondageBackend', {id: sondage.id}) }}">Propositions</a></td>
                    <td>{{ sondage.creationDate|date("d/m/Y") }}</td>
                    <td><button><a href="{{ path('deleteSondage', {id: sondage.id}) }}">Supprimer</a></button></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        section {
            margin-left: 350px;
        }
    </style>
{% endblock %}