{% extends 'layout.html.twig' %}

{% block title %}Versus - Backend{% endblock %}

{% block body %}
<h1>Page Backend - Sondeurs</h1>

<ul>
    <li><a href="{{ path('homeBackend') }}">Retour</a></li>
</ul>

<table>
    <thead>
        <tr>
            <th>Pseudo</th>
            <th>Email</th>
            <th>Dernière connexion</th>
            <th>Gerer les droits</th>
            <th>Supprimer</th>
        </tr>
    </thead>

    <tbody>
        {% for sondeur in sondeurs %}
            <tr>
                <td>{{ sondeur.username }}</td>
                <td>{{ sondeur.email }}</td>
                <td>{{ sondeur.lastLogin|date("d/m/Y") }}</td>
                <td><button onclick="showPopup({{ sondeur.id }})">Modifier les droits</button></td>
                <td><button>Supprimer</button></td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<aside id="popupDroits" style="display: none">
    <h2>Définir les droits pour <span id="pseudo"></span></h2>
    <form method="post">
        <label for="droit">Définir en tant que :</label>
        <input name="idUser" id="idUser" type="hidden">
        <select name="droit" id="droit">
            <option value="sondeur">Sondeur</option>
            <option value="admin">Administrateur</option>
        </select>
        <button type="submit">Valider</button>
    </form>
</aside>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
    function showPopup(id) {
        document.getElementById("popupDroits").style.display = "block";
        document.getElementById("idUser").value = id;
    }
</script>
{% endblock %}