{% extends 'layout.html.twig' %}

{% block title %}Versus - Backend{% endblock %}

{% block body %}
    {% include 'backend/_nav.html.twig' %}
    <section>
        <h1 class="thin">Sondages</h1>

        <table class="centered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Titre</th>
                    <th>Image</th>
                    <th>Proposition liés</th>
                    <th>Crée le</th>
                    <th>Supprimer</th>
                </tr>
            </thead>

            <tbody>
            {% for sondage in sondages %}
                <tr>
                    <td>{{ sondage.id }}</td>
                    <td>{{ sondage.titre }}</td>
                    {% if sondage.image %}
                        <td><a href="{{ asset('assets/img/uploaded/' ~ sondage.image) }}">Image</a></td>
                    {% else %}
                        <td>Aucune image</td>
                    {% endif %}
                    <td><a class="btn waves-effect waves-light deep-purple lighten-2" href="{{ path('propositionsFromSondageBackend', {id: sondage.id}) }}">Propositions</a></td>
                    <td>{{ sondage.creationDate|date("d/m/Y") }}</td>
                    <td>
                        <a class="btn-floating btn-large waves-effect waves-light red" href="{{ path('deleteSondage', {id: sondage.id}) }}">
                            <i class="material-icons">clear</i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <ul class="pagination center-align">
            {% if app.request.attributes.get('page') == 1 %}
                <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
            {% else %}
                <li class="waves-effect"><a href="{{ path('sondagesBackend', {page: app.request.attributes.get('page') - 1 }) }}"><i class="material-icons">chevron_left</i></a></li>
            {% endif %}

            {% for page in 1..pages  %}
                {% if app.request.attributes.get('page') == page %}
                    <li class="active"><a href="{{ path('sondagesBackend', {page: page}) }}">{{ page }}</a></li>
                {% else %}
                    <li class="waves-effect"><a href="{{ path('sondagesBackend', {page: page}) }}">{{ page }}</a></li>
                {% endif %}
            {% endfor %}

            {% if app.request.attributes.get('page') == pages %}
                <li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
            {% else %}
                <li class="waves-effect"><a href="{{ path('sondagesBackend', {page: app.request.attributes.get('page') + 1 }) }}"><i class="material-icons">chevron_right</i></a></li>
            {% endif %}
        </ul>
    </section>
{% endblock %}